@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
/* CSS files add styling rules to your content */

body {
  font-family: Playfair, helvetica, arial, sans-serif;
  /* margin: 2em; */
}

h1 {
  font-style: italic;
  color: red;
}

/* Learn more about CSS .class Selector
https://www.w3schools.com/cssref/sel_class.asp */

/* class="header" */
.header {
  display: flex;
  align-items: center;
}
.header ul li {
  display: inline;
}
/* class="teaminfo" */
.teaminfo {
  /*   border:1px solid red; */
  /*   https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  display: flex;
  align-items: center;
  text-align: center;
}
